<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QuestionComponent[0].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{272,80},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[10].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{410,221},{12,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[11].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,24}</string>
                <key>spriteSourceSize</key>
                <string>{98,24}</string>
                <key>textureRect</key>
                <string>{{154,209},{98,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[12].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{199,165},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[13].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{381,221},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[14].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,11}</string>
                <key>spriteSourceSize</key>
                <string>{34,11}</string>
                <key>textureRect</key>
                <string>{{215,163},{34,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[15].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{187,180},{26,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[16].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,10}</string>
                <key>textureRect</key>
                <string>{{543,178},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[17].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,12}</string>
                <key>spriteSourceSize</key>
                <string>{83,12}</string>
                <key>textureRect</key>
                <string>{{199,80},{83,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[18].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,12}</string>
                <key>spriteSourceSize</key>
                <string>{26,12}</string>
                <key>textureRect</key>
                <string>{{201,180},{26,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[19].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,10}</string>
                <key>spriteSourceSize</key>
                <string>{98,10}</string>
                <key>textureRect</key>
                <string>{{187,80},{98,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[1].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,22}</string>
                <key>spriteSourceSize</key>
                <string>{583,22}</string>
                <key>textureRect</key>
                <string>{{1,56},{583,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[20].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,79}</string>
                <key>spriteSourceSize</key>
                <string>{37,79}</string>
                <key>textureRect</key>
                <string>{{509,80},{37,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[21].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,79}</string>
                <key>spriteSourceSize</key>
                <string>{57,79}</string>
                <key>textureRect</key>
                <string>{{450,80},{57,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[22].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{392,80},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[23].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{301,162},{61,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[24].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{56,78}</string>
                <key>textureRect</key>
                <string>{{463,178},{56,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[25].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,80}</string>
                <key>textureRect</key>
                <string>{{333,80},{57,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[26].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{509,119},{57,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[27].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{57,81}</string>
                <key>textureRect</key>
                <string>{{213,80},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[28].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,80}</string>
                <key>textureRect</key>
                <string>{{381,162},{57,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[2].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,151}</string>
                <key>spriteSourceSize</key>
                <string>{152,151}</string>
                <key>textureRect</key>
                <string>{{1,80},{152,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[3].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,14}</string>
                <key>spriteSourceSize</key>
                <string>{45,14}</string>
                <key>textureRect</key>
                <string>{{543,190},{45,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[4].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,31}</string>
                <key>spriteSourceSize</key>
                <string>{127,31}</string>
                <key>textureRect</key>
                <string>{{154,80},{127,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[5].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{64,45}</string>
                <key>textureRect</key>
                <string>{{254,163},{64,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[6].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,53}</string>
                <key>spriteSourceSize</key>
                <string>{588,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{588,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[7].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{397,221},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionComponent[8].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{423,221},{12,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QuestionComponent[9].png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{463,161},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>questionComponent.png</string>
            <key>size</key>
            <string>{590,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b6e43df77ad16dc0db978e79864f34:782badc6ff62914bf697057d0b5b8af1:6c8822d35592c52b0f935ed100d961d3$</string>
            <key>textureFileName</key>
            <string>questionComponent.png</string>
        </dict>
    </dict>
</plist>
